In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cell_type_loops = pd.read_excel('data/cell_type_loops.xlsx')

In [3]:
cell_type_loops.head()

,Table S3. Differential Interacting Regions,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Interaction,edgeR_log2_fold_change,edgeR_FDR,L23_%_covered,L4_%_covered,L5_%_covered,L6_%_covered,Ndnf_%_covered,Sst_%_covered,Pvalb_%_covered,...,Ndnf_average,Sst_average,Pvalb_average,Vip_average,Astro_average,ODC_average,OPC_average,MP_average,MG_average,Endo_average
2,chr1:700000-750000 & chr1:750000-800000,1.01661,0.000837705,0.141561,0.0763359,0.105556,0.0465116,0.138889,0.105991,0.119403,...,0.289453,0.287217,0.166284,0.304598,0.183385,0.233452,0.343032,0.423055,0.466919,0.519367
3,chr1:950000-1000000 & chr1:1050000-1100000,1.06329,1.32733e-07,0.150635,0.167939,0.105556,0.0930233,0.145833,0.142857,0.171642,...,0.902336,0.785914,1.55953,1.4335,0.778198,0.971609,0.602555,0.412279,0.581838,0.287257
4,chr1:950000-1000000 & chr1:1150000-1200000,1.11911,1.18158e-16,0.15971,0.175573,0.122222,0.104651,0.173611,0.133641,0.179104,...,2.31499,1.03612,1.97936,1.53187,0.794029,1.24618,1.01939,1.10383,0.545689,0.907992

In [6]:
import pickle
bins = pickle.load(open('data/annotated_bins.pkl', 'rb'))

In [7]:
bins.head()

  chrom  start   end  idx annotation
0  chr1      0  1000    0        NaN
1  chr1   1000  2000    1        NaN
2  chr1   2000  3000    2        NaN
3  chr1   3000  4000    3        NaN
4  chr1   4000  5000    4        NaN

# get all annotations in list format

In [9]:
bins['annoation'] = [[i] if type(i) != list else i for i in bins['annotation'].values]

# get bins overlapping differential regions

In [11]:
cell_type_loops.columns = cell_type_loops.loc[1].values

In [12]:
cell_type_loops.head()

,Interaction,edgeR_log2_fold_change,edgeR_FDR,L23_%_covered,L4_%_covered,L5_%_covered,L6_%_covered,Ndnf_%_covered,Sst_%_covered,Pvalb_%_covered,...,Ndnf_average,Sst_average,Pvalb_average,Vip_average,Astro_average,ODC_average,OPC_average,MP_average,MG_average,Endo_average
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Interaction,edgeR_log2_fold_change,edgeR_FDR,L23_%_covered,L4_%_covered,L5_%_covered,L6_%_covered,Ndnf_%_covered,Sst_%_covered,Pvalb_%_covered,...,Ndnf_average,Sst_average,Pvalb_average,Vip_average,Astro_average,ODC_average,OPC_average,MP_average,MG_average,Endo_average
2,chr1:700000-750000 & chr1:750000-800000,1.01661,0.000837705,0.141561,0.0763359,0.105556,0.0465116,0.138889,0.105991,0.119403,...,0.289453,0.287217,0.166284,0.304598,0.183385,0.233452,0.343032,0.423055,0.466919,0.519367
3,chr1:950000-1000000 & chr1:1050000-1100000,1.06329,1.32733e-07,0.150635,0.167939,0.105556,0.0930233,0.145833,0.142857,0.171642,...,0.902336,0.785914,1.55953,1.4335,0.778198,0.971609,0.602555,0.412279,0.581838,0.287257
4,chr1:950000-1000000 & chr1:1150000-1200000,1.11911,1.18158e-16,0.15971,0.175573,0.122222,0.104651,0.173611,0.133641,0.179104,...,2.31499,1.03612,1.97936,1.53187,0.794029,1.24618,1.01939,1.10383,0.545689,0.907992

### get bins