In [32]:
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')
from __init__ import *
from __init__jupyterlab import *

import snmcseq_utils
import importlib
importlib.reload(snmcseq_utils)

In [2]:
df_genes = pd.read_csv(PATH_GENEBODY_ANNOTATION, sep='\t')
df_genes['gid'] = df_genes['gene_id'].apply(lambda x: x.split('.')[0])
print(df_genes.shape)
df_genes.head()

(53379, 8)

,gene_id,gene_name,chr,start,end,strand,gene_type,gid
0,ENSMUSG00000102693.1,4933401J01Rik,chr1,3073253,3074322,+,TEC,ENSMUSG00000102693
1,ENSMUSG00000064842.1,Gm26206,chr1,3102016,3102125,+,snRNA,ENSMUSG00000064842
2,ENSMUSG00000051951.5,Xkr4,chr1,3205901,3671498,-,protein_coding,ENSMUSG00000051951
3,ENSMUSG00000102851.1,Gm18956,chr1,3252757,3253236,+,processed_pseudogene,ENSMUSG00000102851
4,ENSMUSG00000103377.1,Gm37180,chr1,3365731,3368549,-,TEC,ENSMUSG00000103377

In [4]:
f = '/cndd/fangming/CEMBA/data/MOp_all/results_final/miniatlas_fig4_scf_clusterings.tsv'
df_clst = pd.read_csv(f, sep='\t')
print(df_clst.shape)
df_clst.head()

/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(408885, 11)

,sample,joint_embedding_x,joint_embedding_y,modality,modality_name,single_modality_cluster,single_modality_annot,joint_cluster_round1,joint_cluster_round2,joint_cluster_round3,joint_cluster_round4
0,snmcseq_gene_2C_M_0,0.471629,-3.134735,snmcseq_gene,DNA methylation,L4-IT-Rorb_Rorb-Tenm2,L4-IT-Rorb_Rorb-Tenm2,1,1-1,1-1-1,1-1-1-1
1,snmcseq_gene_2C_M_1,-2.414973,-12.098081,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-2,4-2-1,4-2-1-1
2,snmcseq_gene_2C_M_100,-1.446751,-12.051894,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-1,4-1-1,4-1-1-1
3,snmcseq_gene_2C_M_1000,-1.901734,-13.660591,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-2,4-2-1,4-2-1-1
4,snmcseq_gene_2C_M_1001,-0.981086,-11.936621,snmcseq_gene,DNA methylation,L23-IT-Cux2,L23-IT-Cux2,4,4-1,4-1-1,4-1-1-1

In [5]:
f = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_metadata.tsv'
df_meta = pd.read_csv(f, sep='\t', index_col=0)
print(df_meta.shape)
df_meta.head()

(9366, 31)

,FullCellID,CCC_Rate,CG_Rate,CG_RateAdj,CH_Rate,CH_RateAdj,FinalReads,InputReads,MappedReads,Region,...,Slice,PassFilter,pca_0,pca_1,umap_0,umap_1,tsne_0,tsne_1,MajorCluster,SubCluster
cell,,,,,,,,,,,,,,,,,,,,,
snmcseq_gene_2C_M_0,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00511,0.77073,0.76955,0.02154,0.01651,1076259.0,2314862,1517338.0,2C,...,2,True,-11.588627,-0.005045,10.051389,7.099836,-3.343437,18.330174,L4-IT-Rorb,L4-IT-Rorb_Rorb-Tenm2
snmcseq_gene_2C_M_1,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00531,0.75683,0.75553,0.02196,0.01674,1197092.0,2590626,1709334.0,2C,...,2,True,-19.267288,-7.374098,13.717241,-1.786627,9.212860,-26.514785,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_100,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_1_CE...,0.00634,0.74984,0.74824,0.02718,0.02097,2026078.0,4599922,3154619.0,2C,...,2,True,-23.625140,-5.929033,13.739521,1.107174,12.798545,-17.126331,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_1000,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_3_CE...,0.00521,0.77073,0.76953,0.02117,0.01604,2368464.0,5320502,3648786.0,2C,...,2,True,-21.815190,-7.130878,14.154541,-2.284118,8.443658,-27.943267,L23-IT-Cux2,L23-IT-Cux2
snmcseq_gene_2C_M_1001,180508_CEMBA_mm_P56_P63_2C_CEMBA180409_2C_3_CE...,0.00518,0.76248,0.76124,0.02294,0.01785,1909588.0,4259662,2952951.0,2C,...,2,True,-23.539356,-5.032511,13.372279,0.609600,11.219036,-17.414017,L23-IT-Cux2,L23-IT-Cux2

In [8]:
f_mc = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_mCH_raw.npz'
f_c = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_CH_raw.npz' 
f_cell = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.cell'
f_gene = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.gene'

gc_matrix_mch = snmcseq_utils.load_gc_matrix_methylation(f_gene, f_cell, f_mc, f_c)

In [10]:
# get mCH for each cluster
_x = gc_matrix_mch 
intg_clst = df_clst
_xtmp_data_c = _x.data['c'].tocsc()
_xtmp_data_mc = _x.data['mc'].tocsc()

for _round in ['round2', 'round3']:
    cluster_level = 'joint_cluster_{}'.format(_round)
    clusters = np.sort(df_clst[cluster_level].unique())
    
    gene_mch_c_clsts = pd.DataFrame(index=_x.gene, columns=clusters)
    gene_mch_mc_clsts = pd.DataFrame(index=_x.gene, columns=clusters)
    global_mean_mch = {}
    global_mean_mcg = {}
    for clst, df_sub in intg_clst[intg_clst['modality']=='snmcseq_gene'].groupby(cluster_level):
        cells = df_sub['sample'].values 
        cells = np.intersect1d(cells, _x.cell)
#         global_mean_mch[clst] = df_meta.loc[cells, 'CH_Rate'].mean()
#         global_mean_mcg[clst] = df_meta.loc[cells, 'CG_Rate'].mean()
        cells_idx = snmcseq_utils.get_index_from_array(_x.cell, cells)

        gene_mch_c_clsts[clst] = _xtmp_data_c[:, cells_idx].sum(axis=1) 
        gene_mch_mc_clsts[clst] = _xtmp_data_mc[:, cells_idx].sum(axis=1) 
#     global_mean_mch = pd.Series(global_mean_mch)
#     global_mean_mcg = pd.Series(global_mean_mcg)

    f = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mch_ch_{}.tsv'.format(_round)
    gene_mch_c_clsts.to_csv(f, na_rep='NA', sep="\t", index=True, header=True)
    f = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mch_mch_{}.tsv'.format(_round)
    gene_mch_mc_clsts.to_csv(f, na_rep='NA', sep="\t", index=True, header=True)

In [13]:
f_mc = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_mCG_raw.npz'
f_c = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_CG_raw.npz' 
f_cell = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.cell'
f_gene = '/cndd/fangming/CEMBA/data/MOp_all/data_freeze_neurons/snmcseq_gene_raw.gene'

gc_matrix_mcg = snmcseq_utils.load_gc_matrix_methylation(f_gene, f_cell, f_mc, f_c)

In [35]:
rounds = ['round2', 'round3']

In [14]:
# get mCG for each cluster
_x = gc_matrix_mcg 
intg_clst = df_clst
_xtmp_data_c = _x.data['c'].tocsc()
_xtmp_data_mc = _x.data['mc'].tocsc()

for _round in rounds:
    cluster_level = 'joint_cluster_{}'.format(_round)
    clusters = np.sort(df_clst[cluster_level].unique())
    
    gene_mcg_c_clsts = pd.DataFrame(index=_x.gene, columns=clusters)
    gene_mcg_mc_clsts = pd.DataFrame(index=_x.gene, columns=clusters)
    global_mean_mch = {}
    global_mean_mcg = {}
    for clst, df_sub in intg_clst[intg_clst['modality']=='snmcseq_gene'].groupby(cluster_level):
        cells = df_sub['sample'].values 
        cells = np.intersect1d(cells, _x.cell)
#         global_mean_mch[clst] = df_meta.loc[cells, 'CH_Rate'].mean()
#         global_mean_mcg[clst] = df_meta.loc[cells, 'CG_Rate'].mean()
        cells_idx = snmcseq_utils.get_index_from_array(_x.cell, cells)

        gene_mcg_c_clsts[clst] = _xtmp_data_c[:, cells_idx].sum(axis=1) 
        gene_mcg_mc_clsts[clst] = _xtmp_data_mc[:, cells_idx].sum(axis=1) 
#     global_mean_mch = pd.Series(global_mean_mch)
#     global_mean_mcg = pd.Series(global_mean_mcg)

    f = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mcg_cg_{}.tsv'.format(_round)
    gene_mcg_c_clsts.to_csv(f, na_rep='NA', sep="\t", index=True, header=True)
    f = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mcg_mcg_{}.tsv'.format(_round)
    gene_mcg_mc_clsts.to_csv(f, na_rep='NA', sep="\t", index=True, header=True)

In [15]:
print(gene_mch_c_clsts.shape)
gene_mch_c_clsts.head()

(55487, 56)

,1-1-1,1-2-1,1-2-2,10-1-1,2-1-1,2-1-2,2-2-1,2-2-2,2-2-3,2-2-4,...,7-2-1,7-2-2,8-1-1,8-1-2,8-2-1,8-3-1,8-3-2,9-1-1,9-2-1,9-2-2
ENSMUSG00000102693,15227,9669,2482,83,8679,3073,7994,252,NaN,NaN,...,580,681,524,155,768,93,NaN,752,506,64
ENSMUSG00000064842,1516,992,372,17,964,452,1030,0,NaN,NaN,...,51,52,37,0,110,14,NaN,78,16,18
ENSMUSG00000051951,7398389,4355782,1128919,99827,4271018,1621921,3863502,113220,NaN,NaN,...,287893,329874,221619,56890,360425,27817,NaN,322282,258686,110539
ENSMUSG00000102851,8276,4532,1699,197,5447,2292,5070,174,NaN,NaN,...,343,726,244,24,607,0,NaN,494,273,152
ENSMUSG00000103377,54986,30788,7600,725,28714,11260,25732,825,NaN,NaN,...,2106,2882,1725,421,2372,101,NaN,2029,1742,1099

In [16]:
print(gene_mch_mc_clsts.shape)
gene_mch_mc_clsts.head()

(55487, 56)

,1-1-1,1-2-1,1-2-2,10-1-1,2-1-1,2-1-2,2-2-1,2-2-2,2-2-3,2-2-4,...,7-2-1,7-2-2,8-1-1,8-1-2,8-2-1,8-3-1,8-3-2,9-1-1,9-2-1,9-2-2
ENSMUSG00000102693,360,345,117,1,198,81,224,8,NaN,NaN,...,24,24,18,7,39,5,NaN,51,38,2
ENSMUSG00000064842,57,35,18,0,34,21,52,0,NaN,NaN,...,0,5,1,0,6,0,NaN,14,1,3
ENSMUSG00000051951,97981,55167,11890,1238,50340,19517,51315,1606,NaN,NaN,...,4341,4673,2230,627,4823,638,NaN,10377,7065,2984
ENSMUSG00000102851,128,73,21,4,84,37,75,3,NaN,NaN,...,6,13,2,0,7,0,NaN,13,9,7
ENSMUSG00000103377,780,405,84,6,390,150,425,20,NaN,NaN,...,90,98,21,3,33,2,NaN,51,60,54

In [28]:
# global methylation level
intg_clst = df_clst
all_clusters = np.hstack([
    np.sort(df_clst['joint_cluster_round2'].unique()),
    np.sort(df_clst['joint_cluster_round3'].unique()),
])
global_mean_mch = pd.Series(index=all_clusters)
global_mean_mcg = pd.Series(index=all_clusters)
for _round in ['round2', 'round3']:
    cluster_level = 'joint_cluster_{}'.format(_round)
    for clst, df_sub in intg_clst[intg_clst['modality']=='snmcseq_gene'].groupby(cluster_level):
        cells = df_sub['sample'].values 
        cells = np.intersect1d(cells, _x.cell)
        global_mean_mch.loc[clst] = df_meta.loc[cells, 'CH_Rate'].mean()
        global_mean_mcg.loc[clst] = df_meta.loc[cells, 'CG_Rate'].mean()

In [29]:
# global_mc = pd.DataFrame()
global_mc = pd.merge(global_mean_mch.to_frame('mch'), 
                     global_mean_mcg.to_frame('mcg'), 
                     left_index=True, right_index=True,
                    )
fout = '/cndd2/fangming/miniatlas/cluster_level/global_mc.tsv'
global_mc.to_csv(fout, sep='\t', na_rep='NA', header=True, index=True)

In [19]:
# import pickle as pkl
# f = '/cndd2/fangming/miniatlas/cluster_level/cluster_global_mch.pkl'
# with open(f, 'wb') as fh:
#     pkl.dump(global_mean_mch, fh)
# f = '/cndd2/fangming/miniatlas/cluster_level/cluster_global_mcg.pkl'
# with open(f, 'wb') as fh:
#     pkl.dump(global_mean_mcg, fh)

In [39]:
for _round in rounds:
    # mch specs
    global_mean_mcc = global_mean_mch
    c_file = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mch_ch_{}.tsv'.format(_round)
    mc_file = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mch_mch_{}.tsv'.format(_round)
    mcc_file_out = '/cndd2/fangming/miniatlas/cluster_level/gene_features_mch_{}.tsv'.format(_round)
    # end of mch specs

    gene_c_clsts = pd.read_csv(c_file, sep="\t", index_col=0)
    gene_mc_clsts = pd.read_csv(mc_file, sep="\t", index_col=0)
    
    base_call_cutoff = 100
    # get mcc
    gene_mcc_clsts = snmcseq_utils.get_mcc_lite_v3(gene_c_clsts, gene_mc_clsts, base_call_cutoff=base_call_cutoff) # some entries will be nan
    gene_mcc_clsts = gene_mcc_clsts.divide(global_mean_mcc.loc[gene_mcc_clsts.columns.values], axis=1)
    gene_mcc_clsts.to_csv(mcc_file_out, sep='\t', na_rep='NA', header=True, index=True)
    print(gene_mcc_clsts.shape)
    gene_mcc_clsts.head()

(55487, 29)
(55487, 56)

In [40]:
for _round in rounds:
    # mch specs
    global_mean_mcc = global_mean_mcg
    c_file = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mcg_cg_{}.tsv'.format(_round)
    mc_file = '/cndd2/fangming/miniatlas/cluster_level/gene_counts_mcg_mcg_{}.tsv'.format(_round)
    mcc_file_out = '/cndd2/fangming/miniatlas/cluster_level/gene_features_mcg_{}.tsv'.format(_round)
    # end of mch specs

    gene_c_clsts = pd.read_csv(c_file, sep="\t", index_col=0)
    gene_mc_clsts = pd.read_csv(mc_file, sep="\t", index_col=0)
    
    base_call_cutoff = 100
    # get mcc
    gene_mcc_clsts = snmcseq_utils.get_mcc_lite_v3(gene_c_clsts, gene_mc_clsts, base_call_cutoff=base_call_cutoff) # some entries will be nan
    gene_mcc_clsts = gene_mcc_clsts.divide(global_mean_mcc.loc[gene_mcc_clsts.columns.values], axis=1)
    gene_mcc_clsts.to_csv(mcc_file_out, sep='\t', na_rep='NA', header=True, index=True)
    print(gene_mcc_clsts.shape)
    gene_mcc_clsts.head()

(55487, 29)
(55487, 56)