In [2]:
import sys
sys.path.insert(0, '/cndd/fangming/CEMBA/snmcseq_dev')

from __init__ import *
from snmcseq_utils import cd
from snmcseq_utils import create_logger
# from CEMBA_update_mysql import connect_sql

In [3]:
log = create_logger()
log.info("Hello")

01/23/2020 01:57:23 PM Hello

In [4]:
# 
input_f = '/cndd2/fangming/projects/scf_enhancers/data/bulk/round2/mc/dmr/cgdmr_round2_rms_results_collapsed.tsv'
df = pd.read_table(input_f, index_col=['#chr', 'start', 'end'], dtype={'#chr': object})
print(df.shape)
df.head()

/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until
/cndd/fangming/venvs/conda_dobro/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(1460167, 32)

                      number_of_dms hypermethylated_samples  \
#chr start   end
chr1 3013472 3013579              3                     NaN
     3027398 3027514              2                     NaN
     3033712 3033712              1                     NaN
     3034471 3034471              1                     NaN
     3037825 3037825              1                     NaN

                     hypomethylated_samples  methylation_level_1-1  \
#chr start   end
chr1 3013472 3013579        5-1,5-3,1-1,9-2               0.561404
     3027398 3027514                    4-2               0.600000
     3033712 3033712                6-2,8-3               1.000000
     3034471 3034471                    6-2               0.705882
     3037825 3037825                4-2,6-4               1.000000

                      methylation_level_1-2  methylation_level_10-1  \
#chr start   end
chr1 3013472 3013579               0.762887                     1.0
     3027398 3027514               0.678571                     1.0
     3033712 3033712               0.962963                     NaN
     3034471 3034471               0.848485                     NaN
     3037825 3037825               1.000000                     NaN

                      methylation_level_2-1  methylation_level_2-2  \
#chr start   end
chr1 3013472 3013579               0.865169               0.955882
     3027398 3027514               0.730769               0.642857
     3033712 3033712               0.936170               1.000000
     3034471 3034471               0.935484               0.923077
     3037825 3037825               1.000000               1.000000

                      methylation_level_2-3  methylation_level_3-1  ...  \
#chr start   end                                                    ...
chr1 3013472 3013579               0.795918               0.833333  ...
     3027398 3027514               0.714286               0.730769  ...
     3033712 3033712               1.000000               0.956522  ...
     3034471 3034471               0.950000               0.920000  ...
     3037825 3037825               0.964286               1.000000  ...

                      methylation_level_6-4  methylation_level_6-5  \
#chr start   end
chr1 3013472 3013579               1.000000               0.904762
     3027398 3027514               0.625000               0.571429
     3033712 3033712               0.833333               1.000000
     3034471 3034471               0.500000               0.625000
     3037825 3037825               0.846154               1.000000

                      methylation_level_6-6  methylation_level_7-1  \
#chr start   end
chr1 3013472 3013579                    NaN               0.973684
     3027398 3027514                    NaN               0.806452
     3033712 3033712                    NaN               0.961538
     3034471 3034471                   0.75                    NaN
     3037825 3037825                    NaN               1.000000

                      methylation_level_7-2  methylation_level_8-1  \
#chr start   end
chr1 3013472 3013579               1.000000                  1.000
     3027398 3027514               0.833333                  0.875
     3033712 3033712               1.000000                  1.000
     3034471 3034471               1.000000                    NaN
     3037825 3037825               1.000000                    NaN

                      methylation_level_8-2  methylation_level_8-3  \
#chr start   end
chr1 3013472 3013579               1.000000                    NaN
     3027398 3027514               0.823529                    0.0
     3033712 3033712               1.000000                    0.0
     3034471 3034471               1.000000                    NaN
     3037825 3037825               1.000000                    NaN

                      methylation_level_9-1  methylation_level_9-2
#chr start   end
chr1 3013472 3013579               0.666667                   0.20
     3027398 3027514               1.000000                   0.75
     3033712 3033712               1.000000                   1.00
     3034471 3034471               1.000000                   1.00
     3037825 3037825               1.000000                   1.00

[5 rows x 32 columns]

In [7]:
key = 'hypomethylated_samples'
num_dms = 3 
res = df.loc[(~df[key].isnull()) & (df['number_of_dms'] >= num_dms), :].copy()
res['name'] = np.arange(res.shape[0]) 
print(res.shape)

# with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
#     res[['name', 'number_of_dms']].to_csv('dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed_{}dms.tsv.DMR.bed'.format(num_dms),
#                                      sep='\t', na_rep='NA', header=False, index=True)

(60966, 30)

In [9]:
def dmr_counts(ens, n_clusters, cluster_type, df, num_dms=3, keys=['hypomethylated_samples', 'hypermethylated_samples']):
    """
    cluster_type examples:
    cluster_type = 'cluster_mCHmCG_lv_npc50_k30'
    
    """
    res_out = []
    for key in keys:
        res_key = []
        res = df.loc[(~df[key].isnull()) & (df['number_of_dms'] >= num_dms), key].apply(lambda x: x.split(','))
        for i in range(n_clusters):
            res_cluster = res.loc[
                res.apply(lambda x: ('merged_mCG_{}_{}_{}'.format(cluster_type, i+1, ens) in x))]
            res_key.append({cluster_type: i+1, 'n_dmr_{}'.format(key[:4]): res_cluster.shape[0]})
        res_key = pd.DataFrame(res_key).set_index(cluster_type)
        res_out.append(res_key)
    return pd.concat(res_out, axis=1)

In [10]:
df_ndmr = dmr_counts(ens, n_clusters, cluster_type, df, num_dms=20)
df_ndmr = pd.merge(df_info, df_ndmr, left_index=True, right_index=True)

In [11]:
df_ndmr

,annotation_mCHmCG_lv_npc50_k30,n_dmr_hypo,n_dmr_hype
cluster_mCHmCG_lv_npc50_k30,,,
1,mL4,27682,10068
2,mL2/3,31139,10067
3,mL2/3,30662,5573
4,mL5-1,19799,7061
5,mL6-2,21527,13656
6,mL5-1,18382,4337
7,mDL-2,10904,3393
8,mDL-2,9609,6185
9,mSst-1,7320,33769
10,mL5-2,13916,6208
11,mPv,11319,32667
12,mL6-2,14551,4827
13,mL6-2,11466,11987
14,mL6-2,11696,6011
15,mVip,9202,30669
16,mL6-1,3441,27783
17,mNdnf-2,14997,19278
18,None,12463,32748
19,mL4,4366,7399
20,mL6-2,8429,4087
21,None,10664,29811
22,mL6-2,2245,11985
23,None,11291,23704
24,mPv,6061,17171
25,mSst-1,3161,8974
26,mDL-3,1455,1368

In [4]:
print(df.shape)
df_hypo = df.loc[(df['number_of_dms']>=3) & (~df['hypomethylated_samples'].isnull()), 'hypomethylated_samples'].apply(lambda x: x.split(','))
df_hyper = df.loc[(df['number_of_dms']>=3) & (~df['hypermethylated_samples'].isnull()), 'hypermethylated_samples'].apply(lambda x: x.split(','))

print(df_hypo.shape)
print(df_hyper.shape)

(981451, 44)
(437526,)
(281881,)

In [5]:
df_hypo.head()
# df_hypo_cluster = df_hypo.loc[
#         df_hypo.apply(lambda x: ('merged_mCG_{}_{}_{}'.format(cluster_type, i+1, ens) in x))]

#chr  start    end
1     3044313  3044403    [multimodal_v1_clst1, multimodal_v1_clst23, mu...
      3100308  3100351           [multimodal_v1_clst9, multimodal_v1_clst3]
      3113767  3114036           [multimodal_v1_clst1, multimodal_v1_clst5]
      3118791  3118936    [multimodal_v1_clst26, multimodal_v1_clst4, mu...
      3130148  3130281                                [multimodal_v1_clst1]
Name: hypomethylated_samples, dtype: object

In [11]:
outdir = '/cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1'
if not os.path.isdir(outdir):
    os.makedirs(outdir)
    logging.info('Created directory {}'.format(outdir))
    
clsts = [i[len('methylation_level_'):]for i in df.filter(regex='^methylation_level_*').columns]
for clst in clsts:
    df_hypo_cluster = df_hypo[df_hypo.apply(lambda x: (clst in x))]
    output = os.path.join(outdir, '{}.bed'.format(clst))
    df_hypo_cluster.to_csv(output, sep='\t', header=False, index=True, na_rep='NA')
    logging.info("Saved to {}".format(output))
    logging.info(df_hypo_cluster.shape)

07/03/2018 03:11:48 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst39.bed
07/03/2018 03:11:48 PM (4888,)
07/03/2018 03:11:50 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst37.bed
07/03/2018 03:11:50 PM (8017,)
07/03/2018 03:11:52 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst30.bed
07/03/2018 03:11:52 PM (32687,)
07/03/2018 03:11:54 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst21.bed
07/03/2018 03:11:54 PM (13537,)
07/03/2018 03:11:56 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst26.bed
07/03/2018 03:11:56 PM (26144,)
07/03/2018 03:11:59 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst28.bed
07/03/2018 03:11:59 PM (23856,)
07/03/2018 03:12:03 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst1.bed
07/03/2018 03:12:03 PM (154040,)
07/03/2018 03:12:06 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst6.bed
07/03/2018 03:12:06 PM (47165,)
07/03/2018 03:12:08 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst8.bed
07/03/2018 03:12:08 PM (41333,)
07/03/2018 03:12:10 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst13.bed
07/03/2018 03:12:10 PM (50429,)
07/03/2018 03:12:12 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst14.bed
07/03/2018 03:12:12 PM (44140,)
07/03/2018 03:12:14 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst31.bed
07/03/2018 03:12:14 PM (15281,)
07/03/2018 03:12:17 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst36.bed
07/03/2018 03:12:17 PM (21622,)
07/03/2018 03:12:18 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst38.bed
07/03/2018 03:12:18 PM (19675,)
07/03/2018 03:12:21 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst15.bed
07/03/2018 03:12:21 PM (68728,)
07/03/2018 03:12:24 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst9.bed
07/03/2018 03:12:24 PM (79082,)
07/03/2018 03:12:25 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst12.bed
07/03/2018 03:12:25 PM (26262,)
07/03/2018 03:12:28 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst7.bed
07/03/2018 03:12:28 PM (36447,)
07/03/2018 03:12:30 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst29.bed
07/03/2018 03:12:30 PM (10994,)
07/03/2018 03:12:32 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst27.bed
07/03/2018 03:12:32 PM (53887,)
07/03/2018 03:12:34 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst20.bed
07/03/2018 03:12:34 PM (40918,)
07/03/2018 03:12:37 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst11.bed
07/03/2018 03:12:37 PM (35363,)
07/03/2018 03:12:39 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst16.bed
07/03/2018 03:12:39 PM (42425,)
07/03/2018 03:12:44 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst3.bed
07/03/2018 03:12:44 PM (172129,)
07/03/2018 03:12:46 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst18.bed
07/03/2018 03:12:46 PM (29774,)
07/03/2018 03:12:49 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst4.bed
07/03/2018 03:12:49 PM (113928,)
07/03/2018 03:12:51 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst23.bed
07/03/2018 03:12:51 PM (16532,)
07/03/2018 03:12:53 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst24.bed
07/03/2018 03:12:53 PM (11870,)
07/03/2018 03:12:55 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst35.bed
07/03/2018 03:12:55 PM (21517,)
07/03/2018 03:12:57 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst32.bed
07/03/2018 03:12:57 PM (19747,)
07/03/2018 03:12:58 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst40.bed
07/03/2018 03:12:58 PM (13925,)
07/03/2018 03:13:00 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst25.bed
07/03/2018 03:13:00 PM (27057,)
07/03/2018 03:13:02 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst22.bed
07/03/2018 03:13:02 PM (12470,)
07/03/2018 03:13:04 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst5.bed
07/03/2018 03:13:04 PM (81900,)
07/03/2018 03:13:08 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst2.bed
07/03/2018 03:13:08 PM (124114,)
07/03/2018 03:13:10 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst19.bed
07/03/2018 03:13:10 PM (25110,)
07/03/2018 03:13:12 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst17.bed
07/03/2018 03:13:12 PM (22284,)
07/03/2018 03:13:15 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst10.bed
07/03/2018 03:13:15 PM (82038,)
07/03/2018 03:13:17 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst33.bed
07/03/2018 03:13:17 PM (8810,)
07/03/2018 03:13:19 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst48.bed
07/03/2018 03:13:19 PM (13123,)
07/03/2018 03:13:21 PM Saved to /cndd/Public_Datasets/CEMBA/snmCSeq/Ensembles/Ens10/dmr/cgdmr_multimodal_v1/multimodal_v1_clst34.bed
07/03/2018 03:13:21 PM (5962,)

In [21]:
with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
    f = 'dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed.tsv.DMR.bed'
    df_bed = pd.read_table(f, header=None, names=['chr', 'start', 'end', 'num_dms'])
print(df_bed.shape)
df_bed.head()

(1162175, 4)

    chr    start      end  num_dms
0  chr1  3013472  3013473        1
1  chr1  3023074  3023075        1
2  chr1  3027397  3027398        1
3  chr1  3034471  3034472        1
4  chr1  3044312  3044403        3

In [23]:
df_out = df_bed[df_bed['num_dms']>=20]
with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
    df_out.to_csv('dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed_20dms.tsv.DMR.bed', 
                 sep='\t', na_rep='NA', header=False, index=False)